<a href="/logout">Log Out</a>
<h1>Projects</h1>
<table>
	<tr>
		<th>Name</th>
		<th>Team</th>
	</tr>
	<% @projects.each do |project| %>
	  <tr>
		  <th><a href="/projects/<%= project.id %>">
		    <h4><%= project.name %></h4>
		  </a></th>
		  <th><ul>
		  	<% project.users.each do |user| %>
			    <li><%= user.first_name  %></li>
			<% end %>
		  </ul></th>
	  </tr>
	<% end %>
</table>
<a href="/projects/new">Create a New Project</a>
<h2>Add a Task</h2>
<form action="/tasks" method="post">
  <fieldset>
    <legend>Task</legend>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="text" name="task[name]" placeholder="Name">
      <input type="date" name="task[due_date]" placeholder="Due Date">
      <textarea name="task[description]" rows="8" cols="40">Description</textarea>
      <input type="submit" value="Create Task">
  </fieldset>
</form>
<h3>All Tasks</h3>
<table>
	<% @tasks.each do |task| %>
		<tr>
	    	<td><form action="/tasks/<%= task.id %>" method="post">
	      <input type="hidden" name="_method" value="patch">
	      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	      <input type="checkbox" onChange="this.form.submit()" name="task[completed]" value="true">
	    	</form></td>
	    	<td><%= task.name %></td>
	    	<td>Due on <%=task.due_date%></td>
	    </tr>
	<% end %>
</table>

