<script type="text/javascript">
  $(document).on('click', '.complete_task', function() {
  	$.post(
  	  $(this).parent().attr('action'),
  	  $(this).parent().serialize(),
  	  function(data){
  	  	if(data.status == 'successful') {
  	  		$('.task'+data.task_id).remove()
  	  	} else {
  	  		console.log("data:", data)
  	  	}
  	  },
  	  "json"
  	)
  	return false;
  });
  $(document).on('submit', '.new_task', function() {
  	console.log('hitting jquery submit')
  	$.post(
  	  $(this).attr('action'),
  	  $(this).serialize(),
  	  function(data){
  	  	if(data.status == 'successful') {
  	  		$('.other_tasks').append('<tr class="task'+data.task.id+'"><td><form action="/tasks/'+data.task.id+'" method="post"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"><input type="checkbox" name="task[completed]" value="true" class="complete_task"></form></td><td>'+data.task.name+'</td><td>due on '+data.task.due_date+'</td></tr>')
  	  	} else {
  	  		console.log("data:", data)
  	  	}
  	  },
  	  "json"
  	)
  	return false;
  });
</script>
<div class="nav">
	<a href="/logout">Log Out</a>
	<a href="/tasks">Go to all current tasks</a>
</div>
<h1>Projects</h1>
<a href="/projects/new">Create a New Project</a>
<table>
	<tr>
		<th>Name</th>
		<th>Team</th>
	</tr>
	<% @projects.each do |project| %>
	  <tr>
		  <th><a href="/projects/<%= project.id %>">
		    <h4><%= project.name %></h4>
		  </a></th>
		  <th><ul>
		  	<% project.users.each do |user| %>
			    <li><%= user.first_name  %></li>
			<% end %>
		  </ul></th>
	  </tr>
	<% end %>
</table>
<h2>Add a Task</h2>
<form class="new_task" action="/tasks/new" method="post">
  <fieldset>
    <legend>Task</legend>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="text" name="task[name]" placeholder="Name">
      <input type="date" name="task[due_date]" placeholder="Due Date">
      <textarea name="task[description]" rows="8" cols="40" placeholder="task description"></textarea>
      <input type="submit" value="Create Task">
  </fieldset>
</form>
<h3>Other Tasks</h3>
<table class='other_tasks'>
	<% @tasks.each do |task| %>
		<tr class="task<%=task.id%>">
	    	<td><form action="/tasks/<%= task.id %>" method="post">
	      <input type="hidden" name="_method" value="patch">
	      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	      <input type="checkbox" name="task[completed]" value="true" class="complete_task">
	    	</form></td>
	    	<td><%= task.name %></td>
	    	<td>due on <%=task.due_date%></td>
	    </tr>
	<% end %>
</table>
